body {
  margin: 0;
  padding: 0;
}

#mainDiv {
  width: 1400px;
  height: 800px;
  position: absolute;
  left: 50%;
  margin-left:-700px;
  top: 50%;
  margin-top:-400px;
}

#optionsDiv {
  width: 1380px;
  height: 50px;
  background-color: #f3f3f3;
  left: 0;
  top: 0;
  line-height: 50px;
  padding: 0 10px 0 10px;
}

  #numberOfPoints {
    width: 50px;
  }

  #optionsDiv > button {
    margin-left: 10px;
    margin-right: 10px;
  }

  #animationSpeed {
    height: 10px;
  }

  #animationSpeedSpan {
    width: 195px;
    display: inline-block;
  }

  #distanceSpan {
    font-weight: bold;
    margin-left: 30px;
  }

#animationDiv {
  width: 900px;
  height: 750px;
  position: absolute;
  top: 51px;
  left: 0;
}

  #imgCanvas {
    background-color: white;
  }

#algorithmDiv {
  width: 500px;
  height: 749px;
  position: absolute;
  left: 900px;
  top: 50px;
}
  #algorithmDiv > p {
    margin: 1px 0 1px 0;
    padding: 5px 0 5px 10px;
  }

  .marked {
    background-color:rgba(0, 255, 0, 0.5);
  }

canvas {
  border: 1px solid #666;
  margin:0;
  padding:0;
  position:relative;
  left: 0;
  top: 0;
}
